<!-- Config file for the game -->

<config>
  <app>
    <title>Mamausa Jumps</title>
    <organization>UPC</organization>
  </app>
	
  <renderer>
    <vsync value="false"/>
  </renderer>

  <window>
    <resolution width="1280" height="960" scale="1"/>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="false"/>
    <fullscreen_window value="false"/>
  </window>

<player>
	<size width="69" height="95"/>
	<margin x="2" y="417"/>
	<deathByFallCollider h="10"/>
	<speed>
	  <movement initialVertical="-150.0f" vertical="-150.0f" horizontal="80.0f" godmode="120.0f"/>
	  <physics initialFalling="0.0f" falling="0.0f" acceleration="550.0f"  jumpNumber="0" maxJumps="2"/>
	</speed>
  </player>

  <file_system>
    <path>data.zip</path>
  </file_system>

  <map>
    <folder>maps/</folder>
  </map>

 <scene1>
	<initialPlayerPosition x="2" y="17"/>
  </scene1>

</config>