<!-- Config file for the game -->

<config>
  <app>
  <app framerate_cap="30">
    <title>Mamausa Jumps</title>
    <organization>UPC</organization>
  </app>
	
  <renderer>
    <vsync value="false"/>
  </renderer>

  <window>
    <resolution width="1280" height="960" scale="1"/>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="false"/>
    <fullscreen_window value="false"/>
  </window>

<player>
	<size width="69" height="95"/>
	<margin x="2" y="417"/>
	<initialPlayerPosition x="67" y="750"/>
	<speed>
	  <movement initialVertical="-2.0f" verticalSpeed="0.0f"/>
	  <physics initialFalling="0.0f" fallingSpeed="0.0f" gravity="0.01f"  initialJumps="0" maxJumps="2"/>
	</speed>
  </player>

  <file_system>
    <path>data.zip</path>
  </file_system>

  <map>
    <folder>maps/</folder>
  </map>


</config>